@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  position: relative;
}
ul > li {
  list-style: none;
}
p {
  font-size: 18px;
}
.navBarPC {
  visibility: hidden;
}
.navBarMobile {
  position: absolute;
  visibility: hidden;
  inset: 0;
  left: 10vh;
  height: 100vh;
  opacity: 100;
  background-color: #d7ae30;
}
.navBarMobile.show {
  visibility: visible;
}
.hamburgerMenu {
  position: absolute;
  top: 35px;
  left: 85vw;
  z-index: 10;
  cursor: pointer;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
  padding: 2rem;
  color: var(--AlmostBlack);
}

.navItems {
  inset: 0;
  z-index: 3;
  height: 100vh;
  width: 70%;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  color: var(--);
}

.listItems {
  padding-left: 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.itemList1 {
  display: none;
}
.itemList2 {
  display: none;
}
.itemList1.display {
  display: block;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.itemList2.display {
  display: block;
  padding: 0.5rem 1rem;
}

li {
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0.4rem;
}
li img {
  margin-right: 0.4rem;
}
.LogReg-btn {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 3rem;
}
.LogReg-btn button {
  width: 80%;
  font-size: 1.3rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: transparent;
  border: 0.2px solid var(--MediumGray);
  color: var(--MediumGray);
}
button {
  cursor: pointer;
}
.mainBody {
  position: absolute;
  inset: 0;
  top: 5rem;
  z-index: -1;
}

@media screen and (min-width: 700px) {
  .logo,
  .hamburgerMenu {
    visibility: hidden;
  }
  .navItems {
    visibility: hidden;
  }
  li {
    font-size: 1rem;
  }
  .navBarPC {
    visibility: visible;
    position: absolute;
    width: 100vw;
    inset: 0;
    display: flex;
  }
  .navBarPClogo {
    width: 15vw;
    font-size: 2rem;
    font-weight: 700;
    align-self: center;
    text-align: center;
  }
  .navBarPCItems {
    position: absolute;
    left: 15vw;
    top: 40%;
    width: 85vw;
    display: flex;
    justify-content: space-around;
  }
  .navBarPClistItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .navBarPClistItems li {
    cursor: pointer;
  }
  .navBarPClistItems ul {
    visibility: hidden;
  }
  .navBarPClistItems ul {
    position: absolute;
    top: 40px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 10px 4px #ecdfdf;
    border-radius: 5px;
    background-color: var(--AlmostWhite);
  }
  .list1.visible {
    visibility: visible;
    transition: all 0.3s ease;
  }
  .list2.visible {
    visibility: visible;
  }
  .navBarPClistItems .list1 {
    left: 4rem;
  }
  .navBarPClistItems .list2 {
    left: 16rem;
  }
  .navBarPCLogReg-btn {
    display: flex;
    gap: 2vw;
  }
  .navBarPCLogReg-btn button {
    background-color: transparent;
    border: 1px solid black;
    width: 70px;
    height: 30px;
    border-radius: 10px;
  }
  .mainBody {
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }

  .mainBody .heroDtails {
    padding-top: 8vw;
    width: 50%;
    grid-row: 1/2;
    max-height: 800px;
    align-items: start;
    padding-left: 6rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 100px));
  }
  .mainBody .image {
    padding: 5vw;
    height: 100vh;
    object-fit: contain;
    object-position: center;
  }
  .mainBody .details {
    text-align: left;
    font-size: 18px;
  }
  .mainBody .heroDtails {
    gap: 5rem;
    width: 50vw;
  }
  .mainBody .image {
  }
  /* .mainBody img {
    width: 70vw;
  } */
  .heroDtails .svgs {
    width: 9vw;
    display: flex;
    flex-direction: row;
  }
  .mainBody .titlePC {
    display: block;
    font-size: 6vw;
  }
  .mainBody .titleMobile {
    display: none;
  }
}
.titleMobile {
  font-size: 8vw;
  display: block;
}
.titlePC {
  display: none;
}

.mainBody img {
  max-width: 100%;
  display: block;
}

.heroDtails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  align-items: center;
}
.details {
  font-size: 18px;
  line-height: 1.6;
  color: var(--MediumGray);
  text-align: center;
}
.learnBtn {
  font-size: 18px;
  width: 120px;
  height: 40px;
  font-weight: 500;
  border: none;
  color: var(--AlmostWhite);
  background-color: var(--AlmostBlack);
  border-radius: 10px;
}
.svgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
